<a href="/" class="btn btn-warning">На главную</a>
<div id="json">
  <pre id="json-renderer"></pre>
</div>
<script type="text/javascript">
  var code=JSON.parse('<%=@code%>');
  console.log(code);
  $('#json-renderer').empty().jsonViewer(code);
</script>
