<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>o4em3.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/style.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="public/js/shared.js"></script>
  </head>
  <body>
    <button id="element-add">опрос добавить</button>
    <button id="element-read">опросы прочитать</button>
    <div class="container">
    </div>
  </body>
</html>