<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>o4em3.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <style type="text/css">
      .container {
        width: 400px;
        height: 300px;
        background-color: orange;
        color: black;
        word-wrap: normal;
      }
    </style>
    <div class="container" contenteditable="true">
    </div>
    <script type="text/javascript">
      var step = 7;
      for (var i=0; i < 1000; i+=step) {
        if(i>=10&&step==7){step=8};
        if(i>=100&&step==8){step=9};
        $('.container').append(' |слово'+i);
      }
    </script>
  </body>
</html>